@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 25px;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 5.6rem;
  line-height: 58px;
  letter-spacing: 2px;
}

h2 {
  font-size: 4rem;
  line-height: 44px;
  letter-spacing: 1.4px;
}

h3 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.14px;
}

h4 {
  font-size: 2.8rem;
  line-height: 38px;
  letter-spacing: 2px;
}

h5 {
  font-size: 2.4rem;
  line-height: 33px;
  letter-spacing: 1.7px;
}

h6 {
  font-size: 1.8rem;
  line-height: 25px;
  letter-spacing: 1.2px;
}

small {
  color: #d87d4a;
  font-size: 1.3rem;
  line-height: 25px;
  letter-spacing: 0.9px;
}

label {
  text-transform: capitalize;
  display: block;
}

input {
  border-radius: 8px;
  padding: 2rem 2.4rem;
  border: 1px solid #CFCFCF;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

.l-spacing {
  letter-spacing: 10px;
}

.black-op {
  color: rgba(0, 0, 0, 0.5);
}

.uppercase {
  text-transform: uppercase;
}

.new-product {
  opacity: 0.4;
  color: white;
  margin-bottom: 2.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
}

.background-nav {
  height: 9.6rem;
  background: black;
  margin-bottom: 7.9rem;
}

.header {
  background: black;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.dp-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fd-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.go-back {
  display: block;
  margin-top: 7.9rem;
  margin-bottom: 5.6rem;
}

.big-title {
  background: black;
  color: white;
  padding-top: 9.8rem;
  padding-bottom: 9.7rem;
  text-align: center;
  margin-bottom: 16rem;
}

.btn {
  display: inline-block;
  border: none;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1.5rem 3.5rem;
  transition: 0.5s;
}

.btn-primary {
  background: #d87d4a;
  color: white;
}
.btn-primary:hover {
  background-color: #fbaf85;
}

.btn-black {
  background: black;
  color: white;
}
.btn-black:hover {
  background: #4c4c4c;
}

.btn-outline {
  color: black;
  border: 1px solid black;
}
.btn-outline:hover {
  background: black;
  color: white;
}

.btn-shop span {
  color: black;
  opacity: 0.5;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 1.3rem;
}

.btn-primary--checkout {
  display: block;
  text-align: center;
  margin-top: 2.4rem;
}

.c-primary {
  color: #d87d4a;
}

.navbar {
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
  justify-content: space-between;
  align-content: center;
  height: 9.6rem;
}
.navbar__logo {
  margin-right: 16.5rem;
}
.navbar__menu {
  gap: 3.2rem;
}
.navbar__link {
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.3s;
}
.navbar__link:hover {
  color: #d87d4a;
}

.home {
  background: #191919;
  margin-bottom: 12rem;
}
.home__container {
  color: white;
  background: url("./images/home/desktop/image-hero.jpg") no-repeat;
  background-position: 50% -10rem;
}
.home__description-headphones {
  max-width: 41.9rem;
  padding-top: 12.8rem;
  padding-bottom: 15.8rem;
}
.home__title {
  padding-bottom: 2.4rem;
}
.home__text {
  max-width: 34.9rem;
  padding-bottom: 4rem;
}

.categories__container {
  justify-content: space-between;
  gap: 3rem;
  padding-bottom: 19.5rem;
}

.categorie {
  position: relative;
  display: flex;
  flex-flow: column;
  flex: 1 1;
  text-align: center;
  z-index: 1;
}
.categorie:after {
  content: "";
  background: #f1f1f1;
  position: absolute;
  height: 204px;
  bottom: -3rem;
  left: 0;
  right: 0;
  z-index: -1;
}
.categorie__figure {
  width: 220px;
  margin: 0 auto;
  transform: translateY(32px);
}
.categorie__title {
  padding-bottom: 1.6rem;
}

.speaker-zx9 {
  position: relative;
  justify-content: space-between;
  padding-left: 11.7rem;
  padding-right: 9.5rem;
  background-color: #d87d4a;
  color: white;
  overflow: hidden;
  border-radius: 8px;
  background-image: url("./images/home/desktop/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: -15rem -4rem;
  margin-bottom: 4.8rem;
}
.speaker-zx9__description {
  max-width: 34.9rem;
  margin-left: auto;
  padding-bottom: 12.4rem;
  padding-top: 13.3rem;
}
.speaker-zx9__title {
  padding-bottom: 2.4rem;
}
.speaker-zx9__text {
  padding-bottom: 4rem;
}
.speaker-zx9__img {
  width: 410px;
  height: 493px;
  position: absolute;
  top: 9rem;
  left: 10%;
}

.speaker-zx7 {
  background: url("./images/home/desktop/image-speaker-zx7.jpg") no-repeat;
  border-radius: 8px;
  margin-bottom: 4.8rem;
}
.speaker-zx7__description {
  padding: 10.1rem 9.5rem;
}
.speaker-zx7__title {
  padding-bottom: 3.2rem;
}

.earphones-yx1 {
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 20rem;
}
.earphones-yx1__img {
  border-radius: 8px;
}
.earphones-yx1__title {
  padding-bottom: 2.4rem;
}
.earphones-yx1__description {
  flex: 1 1;
  border-radius: 8px;
  padding: 10.1rem 9.5rem;
  background: #f1f1f1;
}

.bringing {
  margin-bottom: 16rem;
}
.bringing__container {
  justify-content: space-between;
  align-items: center;
}
.bringing__description {
  max-width: 44.5rem;
}
.bringing__title {
  padding-bottom: 3.2rem;
}

.footer {
  background-color: #101010;
  padding-top: 7.5rem;
  padding-bottom: 4.8rem;
}
.footer__nav {
  justify-content: space-between;
  padding-bottom: 3.6rem;
}
.footer__content {
  justify-content: space-between;
  padding-bottom: 5.6rem;
}
.footer__text {
  color: white;
  opacity: 0.5;
  max-width: 54rem;
}
.footer__social {
  align-items: flex-end;
  gap: 1.6rem;
}
.footer__copy {
  color: white;
  opacity: 0.5;
}

.card {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16rem;
}
.card__new-product {
  color: #d87d4a;
  text-transform: uppercase;
  padding-bottom: 1.6rem;
}
.card__title {
  padding-bottom: 3.2rem;
}
.card__description {
  padding-bottom: 4rem;
}
.card__content {
  max-width: 44.5rem;
}
.card__img {
  width: 540px;
}
.card__description-details {
  padding-bottom: 3.2rem;
}
.card__price-details {
  padding-bottom: 4.7rem;
}
.card__wrapper-input {
  width: 12rem;
  position: relative;
  margin-right: 1.6rem;
}
.card__wrapper-input--cart {
  width: 9.6rem;
}
.card__value-details {
  outline: none;
  background-color: #f1f1f1;
  border: none;
  text-align: center;
  padding: 1.5rem 0;
  width: 100%;
  font-family: "Manrope", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
}
.card__plus-details, .card__minus-details {
  position: absolute;
  border: none;
  font-size: 1.3rem;
}
.card__plus-details {
  right: 0;
  top: 0;
  bottom: 0;
  padding-right: 2rem;
}
.card__minus-details {
  left: 0;
  top: 0;
  bottom: 0;
  padding-left: 2rem;
}

.card-features {
  margin-bottom: 16rem;
}
.card-features__container {
  justify-content: space-between;
}
.card-features__description {
  max-width: 63rem;
}
.card-features__title {
  padding-bottom: 3.2rem;
}
.card-features__list {
  color: black;
  opacity: 0.5;
}
.card-features__item {
  margin-left: 2.4rem;
}
.card-features__description-box {
  width: 35rem;
}

.gallery {
  margin-bottom: 16rem;
}
.gallery__container, .gallery__two-gallery {
  justify-content: space-between;
}
.gallery__img {
  border-radius: 8px;
}

.also-like {
  margin-bottom: 16rem;
}
.also-like__heading {
  padding-bottom: 6.4rem;
  text-align: center;
}
.also-like__img {
  padding-bottom: 4rem;
}
.also-like__title {
  padding-bottom: 3.2rem;
}
.also-like__container {
  text-align: center;
  gap: 3rem;
}
.also-like__card {
  flex: 1 1;
}

.cart {
  position: absolute;
  padding: 3.1rem;
  top: 15%;
  right: 10em;
  width: 440px;
  background-color: white;
  border-radius: 8px;
}
.cart__info {
  margin-bottom: 3.2rem;
}
.cart__container {
  max-height: 300px;
  overflow: auto;
  margin-bottom: 3.2rem;
}
.cart__product {
  margin-bottom: 2.4rem;
}
.cart__img {
  width: 64px;
  height: 64px;
}
.cart__remove {
  text-decoration: underline rgba(0, 0, 0, 0.2);
}

.checkout {
  max-width: 730px;
  padding: 5.4rem 4.8rem 4.8rem;
}
.checkout__form-group {
  display: flex;
  flex-flow: column;
  width: 30.9rem;
}
.checkout__container-two {
  gap: 1.6rem;
}
.checkout__form-group-full {
  display: flex;
  flex-flow: column;
}

/*# sourceMappingURL=index.css.map */
