//COLORS

$primary: rgb(216, 125, 74);
$secondary: rgb(16, 16, 16);
$lightGray: rgb(241, 241, 241);
$whiteSmoke: rgb(250, 250, 250);

$lightPrimary: rgba(251, 175, 133);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

// TYPOGRAPHY

$fonts : 'Manrope', sans-serif;

//FONT WEIGHT
$bold: 700;
$medium: 500;
$light: 400;